*{
  margin:0;
  padding:0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


.favourite-movie .fa-heart{
  color: white;
  padding:10px;

}

.fa-heart:hover{
  background-color: rgb(29,	47,	64	);
}
/* my css */


.button-on-top{
  border: none;
  background-color: rgba(29	,47,	64	, 1);
  outline: none;
  color: white;
  cursor: pointer;
  padding:10px;

}

.button-on-top:hover{
  background-color: black;

}

.favourite-movie .fa-heart:hover{
  background-color: black;

}

.grid{
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.all-fav-list{
/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
felx-wrap: wrap;
overflow-x: auto; */
overflow: scroll;
white-space: nowrap;
max-width: 20%;
}

.inlinetry {
  display: inline-block;
}



.favourite-img img{
  height:500px;
}


.container .show{
  width: 800px;
  margin-top: 30px;
}

.similar-movies{
  margin-top: 20px;
  overflow: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  /* overflow-x: scroll; */
}

.each-similar-movie img{
  /* width:"410"; */
  height:200px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.each-similar-movie img:hover{
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  cursor: pointer;
}

.text-box{
  width:400px;
  height:30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 20px;
  align-content: center;
  opacity:0.7;
  text-indent:100px;
}



.search-button{
  border-radius: 4px;
  border: none;
  border-width: 0px;
  background-color: #f4511e;
  border: none;
  opacity: 0.9;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.each-img img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
  cursor: pointer;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.detail-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-img img{
  height: 610px;
  margin-right: 50px;
  margin-left: 50px;

}

body{
  display: flex;
  flex-direction: column;
}
.movie-list{
  align-self: center;
  padding-top: 100px;
  display: flex;
   flex-direction: row;
   /* max-width: 1500px; */
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}


.container{
  align-self: center;
  padding-top: 100px;
  display: flex;
   flex-direction: row;
   /* max-width: 1500px; */
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

.nav-wall {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height:60px;
  background-color: rgba(29	,47,	64	, 1);
  color: white;
}

.each-img img{
  margin-left: 20px;
  margin-bottom: 20px;


  width:250px;
  height:375px;
   background-size: cover;
  background-repeat: no-repeat;
}

/* .each-img{
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .movie-list{
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "one one two three three"
  "one one four five five"
  "six seven seven five five"
  "six eight nine nine ten"


} */

/* .img-1{
  grid-area:one;

} */
/* .img-2{
  grid-area: two;
}
.img-3{
  grid-area:three;
}
.img-4{
  grid-area: four;
}
.img-5{
  grid-area:five;
}
.img-6{
  grid-area: six;
}
.img-7{
  grid-area:seven;
}
.img-8{
  grid-area: eight;
}
.img-9{
  grid-area:nine;
}
.img-10{
  grid-area: ten;
} */













/* spinning css */



.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Layout styles only, not needed for functionality */
html {
  font-family: sans-serif;
  padding-right: 0;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

















/* like button */

.button-like {
  outline: none;
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}
